@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/*Usar var(--[nombre]) para obtener esa variable*/
:root {
    --naranja-principal: #E93600;
    --blanco: #FFFFFF;
    --azul-oscuro: #1E2A38;
    --negro: #000000;
    --gris-input: #EBEBEB;
    --gris-oscuro: #3a3a3a;
}

@import "./index.css";
@import "./portada.css";
@import "./advantages.css";
@import "./contactanos.css";