/* General (móviles primero) */
.blog {
    display: flex;
    background-color: var(--gris-oscuro);
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 20px 16px 60px;
    flex-wrap: wrap;
    
    
}

.blog-titulo {
    background: white;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.blog h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    padding-top: 44px;
}

.blog_contenido_titulo {
    background: #e0e0e0;
    border-radius: 12px;
    padding: 0px 0px 16px 0px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin: 0 auto;
}

.blog_contenido {
    background: #e0e0e0;
    border-radius: 12px;
    padding: 0px 0px 16px 0px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.blog_contenido:hover, .blog_contenido_titulo:hover {
    transform: scale(1.03);
}

.blog_contenido_imagen img {
    width: 100%;
    max-height: 460px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.blog_contenido_texto h2 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn_leer_mas {
    display: inline-block;
    margin-top: 10px;
    background-color: #ff4500;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

/* Tablets  */
@media (min-width: 481px) and (max-width: 768px) {
    .blog {
        flex-direction: column;
        align-items: center;
        padding: 60px 24px;
    }

    .blog_contenido {
        width: 90%;
    }
}

/* Tablets grandes y laptops pequeñas*/
@media (min-width: 769px) and (max-width: 1024px) {
    .blog_contenido {
        width: 360px;
    }

    .blog_contenido_texto h2 {
        font-size: 1.2rem;
    }

    .btn_leer_mas {
        font-size: 0.9rem;
        padding: 6px 16px;
    }
}

/* Laptops y escritorios pequeños */
@media (min-width: 1025px) and (max-width: 1199px) {
    .blog_contenido {
        width: 420px;
    }
}

/* Escritorio grande */
@media (min-width: 1200px) {
    .blog_contenido {
        width: 450px;
    }
}