.section_catalogo {
    background-color: #eaeaea;
    padding: 120px 25px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.section_catalogo h2 {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
}

.container_catalogo {
    display: flex;
    margin: 0 auto;
    background: white;
    width: 900px;
}

.tarjeta {
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    color: #000000;
    padding: 25px;
    display: flex;
    gap: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tarjeta:hover {
    box-shadow: 0 6px 16px rgba(51, 51, 51, 0.3);
    cursor: pointer;
}

.tarjeta img {
    min-width: 260px;
    max-width: 260px;
    min-height: 140px;
    max-height: 140px;
    object-fit: cover;
}

.tarjeta h3,
.tarjeta p {
    margin: 0;
    line-height: 1.4;
}

.vehiculos {
    width: 100%;
    color: black;
    margin: 0 auto;
}

.tarjeta_info {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: 0px;
}

.catalogo_filtro_der>p {
    text-align: right;
}

.catalogo_filtro_izq {
    background-color: rgb(178, 178, 178);
    padding: 0px 50px;
}

@media(min-width: 576px) {
    .tarjeta {
        gap: 20px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        flex-direction: row;
    }

    .tarjeta_info {
        margin-left: 10px;
    }
}