body {
    overflow-x: hidden;
}

.nav_principal {
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}

.logo_icono {
    width: 80px;
}

.lista.aparecer {
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(0%);
    pointer-events: auto;
}

.lista {
    display: flex;
    position: absolute;
    height: 100vh;
    background-color: rgb(218, 218, 218);
    width: 80%;
    padding: 24px;
    gap: 25px;
    color: var(--negro);
    transform: translateX(100%);
    opacity: 1;
    pointer-events: none;
    transition: 1.4s;
    top: 0px;
    right: 0px;
    flex-direction: column;
}

.icono_login_hamburguesa {
    display: flex;
    gap: 20px;
}

.icono_login_hamburguesa:hover {
    cursor: pointer;
}

.x_panel {
    text-align: right;
    margin-top: 8px;
}


.lista li {
    padding: 10px;
    transition: all 0.2s;
    font-size: 1.3rem;
}

.lista li:hover {
    background-color: #2c2c2c;
    color: white;
    transform: scale(1.04);
    cursor: pointer;
}

.lista .x_panel:hover {
    background-color: rgb(218, 218, 218);
    transform: scale(1);
    color: black;
}

@media (min-width: 992px) {
    .nav_principal {
        justify-content: space-around;
        gap: 0px;
    }

    .nav_principal:hover {
        background-color: var(--blanco);
    }

    .x_panel {
        display: none;
    }

    .lista {
        display: flex;
        position: relative;
        height: auto;

        width: 80%;
        padding: 20px;
        gap: 25px;
        color: var(--negro);
        transform: translateX(0%);
        justify-content: center;

        opacity: 1;
        flex-direction: row;
    }

    .lista li {
        font-size: 1rem;
    }

    .iconito_hamburguesa {
        display: none;
    }

    .logo_icono {
        width: 100px;
    }

}