.nav_principal {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.nav_principal>ul {
    display: flex;
    padding: 20px;
    background-color: beige;
    gap: 10px;
}

.logo_icono{
    width:100px;
}